@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inconsolata';
  src: url('/src/assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BBHHegarty';
  src: url('/src/assets/fonts/BBHHegarty-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LexendExa';
  src: url('/src/assets/fonts/LexendExa-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #E8F1F2;
}